<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cocoon-plugin-application-android"
    version="1.0.2">

    <name>Cocoon Android Application plugin</name>
    <description>Cocoon plugin to add support for Android Application life cycle methods.</description>
    <license>Copyright Ludei</license>
    <keywords>cordova, ludei, cocoon, application</keywords>
    <repo></repo>
    <issue></issue>

    <engines>
      <engine name="cordova-android" version=">=4" />
      <engine name="cordova-plugman" version=">=4.2.0" /><!-- needed for gradleReference support -->
    </engines>

    <!-- android -->
    <platform name="android">
        <hook type="after_plugin_install" src="scripts/after_install.js" />

        <source-file src="src/CocoonApp.java" target-dir="src/com/ludei" />
    </platform>
</plugin>
